{% extends 'mail_sender/base.html' %}

  {% block content %}

      <div class="container">

          <div class="card-deck mb-12 text-center">

            <div class="card mb-4 box-shadow">


              <div class="card-body">
                <p>Название рассылки: </p>
                <h5 class="">{{ object.name }} </h5>
                <p></p>
                <p>Время отправки:</p>
                <h5>{{ object.send_time }} </h5>
                <p></p>
                <p>Статус рассылки:</p>
                <h5>{{ object.get_status_display }} </h5>
                <p></p>
                <p>Периодичность отправки:</p>
                <h5>{{ object.get_period_display }} </h5>
                <p></p>
                <p>Список получателей:</p>
                  {% for customer in object.customer.all %}
                    <h5>{{ customer }} </h5>
                  {% endfor %}
                <p></p>


               <a href="{% url 'mailsender:email_setting_update' object.id %}" type="button" class="btn btn-lg btn-outline-warning">Редактировать</a>
               <a href="{% url 'mailsender:all_emailing' %}" type="button" class="btn btn-lg btn-outline-primary">Вернуться</a>



              </div>

            </div>

          </div>

      </div>
  {% endblock %}